$white:			#ffffff;
$black:			#000;
$dark:			#4C4C4C;
$purple:		#6F36BC;
$pink:			#FF4778;
$red:			#D83863;

$main-bg:				#fafafa;
$footer-bg:				#F4F4F4;
$bar-bg:				#F0F0F0;
$bar-progress-bg:		#2ACBA5;
$btn-shadow:			#1BE1AF;
$calendar-bg:			#F3F5FE;
$tag-bg:				#F2EAFE;
$tab-border:			#bea4e1;